.cont-calentado {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding:2em 2em;
    margin: auto;
    height: auto;
}
.item-calentado {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
}

.cont-calentado h4 {
    font-weight: 700;
    text-transform: uppercase;
    color: #571A0D;
    margin: 4px 12px;
    /* background: #000; */
    text-align: center;
    font-size: 2em;
    border:3px solid  #571A0D;
    border-radius:22px;
}


.header {
    height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.img-header {
    position: relative;
    height: 80%;
    width: 40%;
}

.cont-header {
    width: 60%;
    padding: 2em 4em;
}
.header h5 {
    font-weight: 700;
    color: #571A0D;
    margin: 16px 0px;
    font-size: 1.6em;
}
.header p {
    font-size: 1.2em;
    line-height: 1.7em;
}